<div class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Planets</h1>
        <h3 class="subtitle">Informations about <strong><%= @planet.name %></strong></h3>
      </div>
    </div>
</div>

<section class="section">
	<div class="container">

		<% if notice %>
        	<article class="message is-primary">
            	<div id="notice" class="message-body">
              		<%= notice %>
            	</div>
        	</article>
    	<% end %>

		<p>
	  		<strong>Name:</strong>
	  		<%= @planet.name %>
		</p>

		<div class="buttons" style="margin-top: 20px;">
			<%= link_to 'Edit', edit_planet_path(@planet), class: "button is-info is-outlined" %>
			<%= link_to 'Back', planets_path, class: "button" %>
		</div>
	</div>
</section>



